<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link href="/Content/Css/core.css" type="text/css" rel="Stylesheet" />
    <script language="javascript" type="text/javascript" src="/Content/Js/jquery-1.8.0.min.js">
    </script>
</head>
<body>
    <div style="margin: 0px auto; width: 1000px; text-align: left;">
        <h1>
            不夜城旅行社</h1>
        @RenderBody()
        <div class="clear">
        </div>
    </div>
</body>
</html>
