<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="DbEngineConnectionString" connectionString="Data Source=.\\Example.db3;DataBase=exampdb;Persist Security Info=True;User ID=test;Password=test123456;charset=utf8;Pooling=true;Min Pool Size=1;Max Pool Size=10" providerName="sqlite"/>
  </connectionStrings>
</configuration>