<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="DbEngineConnectionString" connectionString="Data Source=192.168.8.149;DataBase=aos2012;Persist Security Info=True;User ID=oa_test;Password=Bycoatest!;Pooling=true;Min Pool Size=1;Max Pool Size=10" providerName="mssql"/>
  </connectionStrings>
</configuration>